<% include partials/navigation.ejs %>
<h1>Login</h1>
<div class="col-md-8 order-md-1">
    <form action="" method="post">
    <label for="username">First name</label>
    <input type="text" class="form-control" id="username" placeholder="" value="" required="">
    <label for="userpass">First name</label>
    <input type="password" class="form-control" id="userpass" placeholder="" value="" required="">
</div>
</form>